<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>Total:<%= count %></h4>
    <hr>
    <% for(var i=0; i<docs.length; i++) {
        var keys=Object.keys(docs[i]);
    %>
    <h3><%= docs[i]["cm:name"] %></h3>
    <h4>NodeId:<%= docs[i]["id"] %></h4>
    <h4><%= docs[i]["PATH"] %></h4>
        <table  style="width:100%">
            <!--<%- JSON.stringify(docs[i]) %>-->
            <% keys.forEach(function(key) {
                if(typeof docs[i][key] === 'object'){
                    if(Array.isArray(docs[i][key])){
            %>
                    <tr>
                        <td>
                            <span class="key"><%= key %></span>
                        </td>
                        <td>
                            <span class="value">
                                <% docs[i][key].forEach(function(value) {%>
                                    <%if(typeof value === 'object'){%>
                                        <%- JSON.stringify(docs[i][key]) %>
                                    <% }else{%>
                                        <%= value %><br>
                                    <% }%>
                                <% });%>
                            </span>
                        </td>
                    </tr>

                    <% }else{%>
                        <tr>
                            <td>
                                <span class="key"><%= key %></span>
                            </td>
                            <td>
                                <span class="value"><%- JSON.stringify(docs[i][key]) %></span>
                            </td>
                        </tr>
                    <% }%>
                <% }else{%>
                    <tr>
                        <td>
                            <span class="key"><%= key %></span>
                        </td>
                        <td>
                            <span class="value"><%= docs[i][key] %></span>
                        </td>
                    </tr>
                <% }%>
            <% }); %>
        </table>
    <% } %>

  </body>
</html>
